body{
    background: rgb(33, 140, 228);
}
label{
    color: #fff;
}
/* subirnoticia */
#divimagen{
    justify-content: center;
}
#divlabelcurso{
    margin-left: auto;
    margin-right: auto;
}
#ae{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
 }
 #h3tabla{
    text-align: center;
    color: #fff;
}
/* tabla noticias  */
#divimagen{
    text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#imgcontact{
    width: 500px;
    display: block;
        margin: auto;
    }
/* subirnoticias */
#divselectipo{
    
    text-align: center;
}
#selecttipo{
    margin-left: auto;
    margin-right: auto;
}
