body{
    background: rgb(33, 140, 228);
}
label{
    color: #fff;
}
#h3tabla{
    text-align: center;
    color: #fff;
}
#h3perfil{
   text-align: center;
    color: #fff;
}
#tablaperfil{
        margin-left: auto;
        margin-right: auto;
}
#divlabelcurso{
    margin-left: auto;
    margin-right: auto;
}
#ae{
    text-align: center;
   margin-left: auto;
   margin-right: auto;
 }
 #divlabelperfil{
     margin-left: auto;
     margin-right: auto;
 }
 #btnactualizar{
     /* margin-left: auto;
     margin-right: auto; */
     text-align: center;
 }
 